body {
  background-color: #c4da43;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-image: url('images/rosenthal-bw-cropped.jpg');
  background-size: cover;
  width: 100%;
  height: 65vh;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 65vh;
  width: 100%;
}

.header-title {
  width: 50%;
  position: absolute;
  left: 25.5%;
  top: 19%;
}

.header-subtitle #car {
  color: #c4da43;
  font-style: italic;
}

.header-subtitle {
  position: relative;
  top: 50%;
  color: #c4da43;
  font-weight: 600;
  letter-spacing: 8px;
  font-size: 5vh;
  margin: 0 auto;
  text-align: center;
}

#car {
  font-family: 'Libre Baskerville', serif;
  font-size: 4.5vh;
  font-weight: 400;
  letter-spacing: normal;
}

.black-box {
  position: absolute;
  background-color: #000;
  margin-left: 10%;
  height: 37%;
  width: 80%;
  margin-top: -13%;
}

.black-box-subtitle {
  position: relative;
  left: 5%;
  color: #c4da43;
  font-size: 2.5vh;
  font-weight: 300;
  letter-spacing: 0.5vh;
  line-height: 3.5vh;
  padding-top: 1vh;
  width: 51%;
}

.green-line {
  position: relative;
  left: 5%;
  width: 10vh;
  border-top: 0.2vh solid #c4da43;
  padding-top: 1.5vh;
}

.p-green {
  position: relative;
  left: 5%;
  color: #c4da43;
  font-size: 1.5vh;
  font-weight: 100;
  letter-spacing: 0.3vh;
  line-height: 2vh;
  padding-top: 3vh;
  width: 72%;
}

.p-white {
  position: relative;
  left: 5%;
  color: #fff;
  font-size: 1.5vh;
  font-weight: 100;
  letter-spacing: 0.3vh;
  line-height: 2vh;
  padding-top: 3vh;
  width: 100%;
}

.white-border-box {
  color: #fff;
  border: 0.5vh solid #fff;
  position: relative;
  top: -74%;
  left: 70%;
  width: 34%;
  height: 41%;
  font-size: 2vh;
  font-weight: 100;
  letter-spacing: 0.3vh;
  line-height: 3vh;
  text-align: center;
  padding-top: 3vh;
}

.twelve-september {
  font-weight: 400;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 13%;
  width: 100%;
}

.contacts-email {
  position: absolute;
  bottom: 6%;
  left: 14%;
  color: #000;
  font-size: 1.5vh;
  font-weight: 200;
  letter-spacing: 0.3vh;
  line-height: 2vh;
  padding-top: 3vh;
  width: 72%;
}

.contacts-phone {
  position: absolute;
  bottom: 6%;
  left: 45%;
  color: #000;
  font-size: 1.5vh;
  font-weight: 200;
  letter-spacing: 0.3vh;
  line-height: 2vh;
  padding-top: 3vh;
  width: 72%;
}

.adco-logo {
  position: relative;
  left: 83%;
  bottom: 40%;
  width: 5%;
}

.council-logo {
  position: relative;
  left: 70%;
  bottom: 25%;
  width: 6%;
}


@media (max-width: 768px) {

  .header {
    background-size: cover;
    width: 89vh;
  }

  .header-title {
    width: 45vh;
    position: relative;
    left: 21vh;
    top: 18vh;
  }

  .header-subtitle {
    top: 21vh;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 3vh;
    text-align: center;
  }

  #car {
    font-size: 2.5vh;
  }

  .black-box {
    position: absolute;
    left: 2vh;
    top: 50vh;
    background-color: #000;
    height: 57vh;
    width: 70vh;
  }

  .black-box-subtitle {
    left: 10vh;
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 0.5vh;
    line-height: 3.5vh;
    text-align: center;
    padding-top: 1vh;
    width: 48vh;
  }

  .green-line {
    top: 1vh;
    left: 28vh;
    width: 11vh;
  }

  .p-green {
    left: 7vh;
    font-size: 2vh;
    font-weight: 200;
    text-align: center;
    width: 57vh;
  }

  .white-border-box {
    border: 0.3vh solid #fff;
    top: -9vh;
    left: 13vh;
    width: 44vh;
    height: 14vh;
    font-size: 2.5vh;
    font-weight: 100;
    letter-spacing: 0.3vh;
    line-height: 3vh;
    text-align: center;
    padding-top: 0vh;
  }

  .p-white {
    left: 15vh;
    top: 15vh;
    color: #fff;
    font-size: 1.2vh;
    font-weight: 300;
    letter-spacing: 0.2vh;
    text-align: center;
    width: 40vh;
  }

  .contacts-email {
    bottom: -6vh;
    left: 20vh;
    font-weight: 200;
    text-align: center;
    line-height: 1.5vh;
    width: 72%;
  }

  .contacts-phone {
    position: relative;
    bottom: -37vh;
    left: 33vh;
    color: #000;
    font-size: 1.5vh;
    font-weight: 200;
    letter-spacing: 0.3vh;
    text-align: center;
    line-height: 1.2vh;
    width: 20vh;
  }

  .adco-logo {
      position: relative;
      left: 43vh;
      bottom: -37vh;
      width: 5vh;
  }

  .council-logo {
    position: relative;
    left: 31vh;
    bottom: -37vh;
    width: 5vh;
  }

}
