body {
  background-color: #c4da43;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vh;
}

a {
  color: inherit;
}

header {
  background-image: url(images/rosenthal-bw-cropped.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100% !important;
  height: 62vh;
  margin: 0 auto;
}

.container {
  width: 75%;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  /*z-index: -1;*/
}

.header-title {
  width: 50%;
  margin-left: 25.5%;
  margin-top: 14%;
}

.header-subtitle #car {
  color: #c4da43;
  font-style: italic;
}

.header-subtitle {
  color: #c4da43;
  font-weight: 600;
  letter-spacing: 7px;
  font-size: 5vh;
  margin: 0 auto;
  text-align: center;
  margin-top: 3%;
}

#car {
  font-family: 'Libre Baskerville', serif;
  font-size: 4.5vh;
  font-weight: 400;
  letter-spacing: normal;
}

.black-box {
  background-color: #000;
  height: 41vh;
  margin-top: 4%;
  z-index: 1;
}

.black-box-subtitle {
  color: #c4da43;
  font-size: 3vh;
  font-weight: 300;
  letter-spacing: 0.4vh;
  line-height: 4vh;
  padding-top: 1.5vh;
  width: 59%;
  margin-left: 6%;
  padding-top: 4%;
}

.white-border-box {
  color: #fff;
  border: 0.5vh solid #fff;
  margin-top: -23%;
  margin-right: -3%;
  width: 41vh;
  height: auto;
  font-size: 2vh;
  letter-spacing: 0.3vh;
  line-height: 3vh;
  text-align: center;
  padding: 3%;
  float: right;
}

.green-line {
  width: 10%;
  border-top: 0.2vh solid #c4da43;
  margin: 3% 6%;
}

.p-green {
  width: 67vh;
  color: #c4da43;
  font-size: 85%;
  font-weight: 100;
  letter-spacing: 0.3vh;
  line-height: 2vh;
  margin-left: 6%;
}

.p-white {
  color: #fff;
  font-size: 1.3vh;
  font-weight: 100;
  letter-spacing: 0.3vh;
  line-height: 2vh;
  padding-top: 2vh;
  width: 96%;
  text-decoration: none;
  margin-left: 6%;
  padding-bottom: 3%;
}

footer {
  bottom: -10%;
  width: 100%;
  position: absolute;
}

.contacts-email {
  text-decoration: none;
  color: #000;
  margin-left: 5.5%;
}

.adco-logo {
  width: 6vh;
  float: right;
  margin-top: -4%;
  margin-right: 3%;
}

.council-logo {
  width: 7vh;
  float: right;
  margin-top: -5%;
  margin-right: 3%;
}



/* //////////////////// RESPONSIVENESS ////////////////////*/


@media (max-width: 768px) {

  .header-title {
    width: 60%;
    margin-left: 20%;
    margin-top: 14%;
}

  .header-subtitle {
    color: #c4da43;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 2.8vh;
    margin: 0 auto;
    text-align: center;
    margin-top: 3%;
  }

  #car {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5vh;
    font-weight: 400;
    letter-spacing: normal;
  }

  .black-box {
    background-color: #000;
    height: 55vh;
    width: 95%;
    margin-top: 9%;
    z-index: 1;
    margin: 9% auto;
  }

  .black-box-subtitle {
    color: #c4da43;
    font-size: 2vh;
    font-weight: 300;
    letter-spacing: 0.5vh;
    line-height: 3vh;
    text-align: center;
    margin: 0 auto;
    width: 74%;
    display: block;
  }

  .green-line {
    width: 22%;
    border-top: 0.2vh solid #c4da43;
    margin: 3% auto;
  }

  .p-green {
    width: 74%;
    color: #c4da43;
    font-size: 120%;
    font-weight: 200;
    letter-spacing: 0.3vh;
    line-height: 2vh;
    text-align: center;
    margin: 0 auto;
}

  .white-border-box {
    margin: -72px auto;
    color: #fff;
    border: 0.5vh solid #fff;
    width: 55%;
    height: auto;
    font-size: 2.3vh;
    font-weight: 100;
    letter-spacing: 0.3vh;
    line-height: 3vh;
    text-align: center;
    padding: 3%;
    float: unset;
  }

  .p-white {
    color: #fff;
    font-size: 1.4vh;
    font-weight: 200;
    letter-spacing: 0.3vh;
    text-align: center;
    line-height: 2vh;
    padding-top: 2vh;
    width: 72%;
    text-decoration: none;
    margin: 0 auto;
    padding-bottom: 3%;
    position: relative;
    top: 34%;
  }

  footer {
    text-align: center;
    margin: 9% auto;
  }

  footer .row {
    margin-top: 24%;
    padding: 0;
  }

  .contacts-email {
    text-decoration: none;
    color: #000;
    letter-spacing: 1.5px;
  }

  .contacts-phone {
    text-decoration: none;
    color: #000;
    letter-spacing: 1.5px;
  }

  .bottom-logos {
    display: inline-block;
  }

  .council-logo {
    width: 6%;
    float: none;
    margin: 0 10px;
  }

  .adco-logo {
      width: 5%;
      float: none;
      margin: 0 auto;
  }




}


/*.header-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 65vh;
  width: 100%;
}

.header-title {
  width: 50%;
  left: 25.5%;
  top: 19%;
}

.header-subtitle #car {
  color: #c4da43;
  font-style: italic;
}

.header-subtitle {
  top: 50%;
  color: #c4da43;
  font-weight: 600;
  letter-spacing: 8px;
  font-size: 5vh;
  margin: 0 auto;
  text-align: center;
}

#car {
  font-family: 'Libre Baskerville', serif;
  font-size: 4.5vh;
  font-weight: 400;
  letter-spacing: normal;
}

.black-box {
  background-color: #000;
  left: 10vh;
  height: 39vh;
  width: 129vh;
  top: 45vh;
}

.black-box-subtitle {
  left: 5%;
  color: #c4da43;
  font-size: 2.5vh;
  font-weight: 300;
  letter-spacing: 0.5vh;
  line-height: 3.5vh;
  padding-top: 1vh;
  width: 51%;
}

.green-line {
  left: 5%;
  width: 10vh;
  border-top: 0.2vh solid #c4da43;
  padding-top: 1.5vh;
}

.p-green {
  left: 5vh;
  width: 67vh;
  color: #c4da43;
  font-size: 1.3vh;
  font-weight: 100;
  letter-spacing: 0.3vh;
  line-height: 2vh;
  padding: 1vh 0;
}

.p-white {
  left: 5vh;
  color: #fff;
  font-size: 1.3vh;
  font-weight: 100;
  letter-spacing: 0.3vh;
  line-height: 2vh;
  padding-top: 2vh;
  width: 100%;
  text-decoration: none;
}

a.p-white {
  color: #fff;
  font-weight: 300;
}

.white-border-box {
  color: #fff;
  border: 0.5vh solid #fff;
  top: 4vh;
  left: 74vh;
  width: 33vh;
  height: 14vh;
  font-size: 2.5vh;
  font-weight: 100;
  letter-spacing: 0.3vh;
  line-height: 3vh;
  text-align: center;
  padding: 3vh 8vh;
}

.twelve-september {
  font-weight: 400;
}

.footer {
  bottom: 0;
  height: 13%;
  width: 100%;
}

.contacts-email {
  bottom: 6vh;
  left: 15vh;
  color: #000;
  font-size: 1.5vh;
  font-weight: 200;
  letter-spacing: 0.3vh;
  line-height: 2vh;
  padding-top: 3vh;
  width: 41vh;
}

.contacts-phone {
  bottom: 6vh;
  left: 67vh;
  color: #000;
  font-size: 1.5vh;
  font-weight: 200;
  letter-spacing: 0.3vh;
  line-height: 2vh;
  padding-top: 3vh;
  width: 14vh;
}

.adco-logo {
  left: 115vh;
  bottom: 6.5vh;
  width: 6vh;
}

.council-logo {
  left: 106vh;
  bottom: 4vh;
  width: 8vh;
}*/

/* //////////////////// RESPONSIVENESS ////////////////////*/


/* laptop */
/*@media (max-width: 1024px) {
  .header {
    background-size: cover;
    width: 89vh;
  }

  .header-title {
    width: 45vh;
    position: relative;
    left: 21vh;
    top: 18vh;
  }

  .header-subtitle {
    top: 21vh;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 3vh;
    text-align: center;
  }

  #car {
    font-size: 2.5vh;
  }

  .black-box {
    position: absolute;
    left: 9.5vh;
    top: 38vh;
    background-color: #000;
    height: 57vh;
    width: 70vh;
  }

  .black-box-subtitle {
    left: 10vh;
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 0.5vh;
    line-height: 3.5vh;
    text-align: center;
    padding-top: 1vh;
    width: 48vh;
  }

  .green-line {
    top: 1vh;
    left: 28vh;
    width: 11vh;
  }

  .p-green {
    left: 7vh;
    font-size: 2vh;
    font-weight: 200;
    text-align: center;
    width: 57vh;
  }

  .white-border-box {
    position: absolute;
    bottom: -9vh;
    left: 34vh;
    color: #000;
    font-size: 1.5vh;
    font-weight: 200;
    letter-spacing: 0.3vh;
    text-align: center;
    line-height: 1.2vh;
    width: 20vh;
  }

  .p-white {
    left: 15vh;
    top: 15vh;
    color: #fff;
    font-size: 1.2vh;
    font-weight: 300;
    letter-spacing: 0.2vh;
    text-align: center;
    width: 40vh;
  }

  a.p-white {
    color: #fff;
    font-weight: 300;
  }

  .contacts-email {
    bottom: -4vh;
    left: 15vh;
    font-weight: 200;
    text-align: center;
    line-height: 1.3vh;
    width: 72%;
  }

  .contacts-phone {
    position: relative;
    bottom: -35vh;
    left: 34vh;
    color: #000;
    font-size: 1.5vh;
    font-weight: 200;
    letter-spacing: 0.3vh;
    text-align: center;
    line-height: 1.2vh;
    width: 20vh;
  }

  .adco-logo {
    position: absolute;
    left: 45vh;
    bottom: -16vh;
    width: 5vh;
  }

  .council-logo {
    position: relative;
    left: 35vh;
    bottom: -45vh;
    width: 5vh;
  }

}*/


/* iPad - regular tablet */
/*@media (max-width: 768px) {

  .header {
    background-size: 100%;
    width: 89vh;
  }

  .header-title {
    width: 45vh;
    position: relative;
    left: 21vh;
    top: 18vh;
  }

  .header-subtitle {
    top: 21vh;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 3vh;
    text-align: center;
  }

  #car {
    font-size: 2.5vh;
  }

  .black-box {
    position: absolute;
    left: 3.5vh;
    top: 50vh;
    background-color: #000;
    height: 57vh;
    width: 70vh;
  }

  .black-box-subtitle {
    left: 10vh;
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 0.5vh;
    line-height: 3.5vh;
    text-align: center;
    padding-top: 1vh;
    width: 48vh;
  }

  .green-line {
    top: 1vh;
    left: 28vh;
    width: 11vh;
  }

  .p-green {
    left: 7vh;
    font-size: 2vh;
    font-weight: 200;
    text-align: center;
    width: 57vh;
  }

  .white-border-box {
    border: 0.3vh solid #fff;
    top: 28vh;
    left: 12vh;
    width: 44vh;
    height: 14vh;
    font-size: 2.5vh;
    font-weight: 100;
    letter-spacing: 0.3vh;
    line-height: 3vh;
    text-align: center;
    padding-top: 0vh;
  }

  .p-white {
    left: 15vh;
    top: 15vh;
    color: #fff;
    font-size: 1.2vh;
    font-weight: 300;
    letter-spacing: 0.2vh;
    text-align: center;
    width: 40vh;
  }

  a {
    color: inherit;
    font-weight: 300;
  }

  .contacts-email {
    bottom: -5vh;
    left: 20vh;
    font-weight: 200;
    text-align: center;
    line-height: 1.3vh;
    width: 72%;
  }

  .contacts-phone {
    position: relative;
    bottom: -37vh;
    left: 36vh;
    color: #000;
    font-size: 1.5vh;
    font-weight: 200;
    letter-spacing: 0.3vh;
    text-align: center;
    line-height: 1.2vh;
    width: 20vh;
  }

  .adco-logo {
      position: relative;
      left: 43vh;
      bottom: -37vh;
      width: 5vh;
  }

  .council-logo {
    position: relative;
    left: 31vh;
    bottom: -37vh;
    width: 5vh;
  }

}*/
